@model fastMvcRush.Models.GuestRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuestResponse</title>
</head>
<body>
    <div>
        <h1>Thank you, @Model.Name</h1>
    </div>
</body>
</html>
