@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       
        <h1> @ViewBag.ComeText </h1> 
        @Html.ActionLink("SomeLink", "RNSV");
    </div>
</body>
</html>
