@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       
        <h1> @ViewBag.ComeText </h1> 
        <h2>Glad to see you. We going to have a exciting party.</h2>
        @Html.ActionLink("Register NOW", "RNSV")
    </div>
</body>
</html>
